USE [master]
GO
/****** Object:  Database [PrensaVerificada]    Script Date: 16/10/2024 8:49:21 ******/
CREATE DATABASE [PrensaVerificada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrensaVerificada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PrensaVerificada.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrensaVerificada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PrensaVerificada_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrensaVerificada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrensaVerificada]
GO
/****** Object:  Table [dbo].[autores]    Script Date: 16/10/2024 8:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autores](
	[autorid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[biografia] [text] NULL,
	[twitter] [nvarchar](255) NULL,
	[instagram] [nvarchar](255) NULL,
	[foto] [nvarchar](255) NULL,
	[usuarioid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[autorid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 16/10/2024 8:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[bitacoraid] [int] IDENTITY(1,1) NOT NULL,
	[usuarioid] [int] NULL,
	[fecha] [date] NOT NULL,
	[accion] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bitacoraid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 16/10/2024 8:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[categoriaid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoriaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 16/10/2024 8:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[estadoid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[estadoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favoritos]    Script Date: 16/10/2024 8:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favoritos](
	[favoritoid] [int] IDENTITY(1,1) NOT NULL,
	[usuarioid] [int] NULL,
	[publicacionid] [int] NULL,
	[fechaagregado] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[favoritoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publicaciones]    Script Date: 16/10/2024 8:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publicaciones](
	[publicacionid] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](255) NOT NULL,
	[subtitulo] [nvarchar](255) NULL,
	[contenido] [text] NOT NULL,
	[imagen] [nvarchar](255) NULL,
	[fechapublicacion] [date] NOT NULL,
	[autorid] [int] NULL,
	[categoriaid] [int] NULL,
	[estadoid] [int] NULL,
	[contador_total] [int] NULL,
	[contador_semanal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[publicacionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reclamos]    Script Date: 16/10/2024 8:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reclamos](
	[reclamoid] [int] IDENTITY(1,1) NOT NULL,
	[usuarioid] [int] NULL,
	[fecha] [date] NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
	[descripcion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reclamoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 16/10/2024 8:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[usuarioid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[fecharegistro] [date] NOT NULL,
	[admin] [bit] NULL,
	[blocked] [bit] NULL,
	[codigo] [nvarchar](50) NULL,
	[retry] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[usuarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[autores] ON 

INSERT [dbo].[autores] ([autorid], [nombre], [biografia], [twitter], [instagram], [foto], [usuarioid]) VALUES (1, N'Hugo Alconada Mon', N'Prosecretario de Redacción en LA NACIÓN, abogado, y maestro en el nuevo periodismo iberoamericano.', N'https://twitter.com/halconada', N'https://www.instagram.com/halconada/', N'img/alconada.jpg', 1)
INSERT [dbo].[autores] ([autorid], [nombre], [biografia], [twitter], [instagram], [foto], [usuarioid]) VALUES (2, N'Soledad Larghi', N'Periodista en America Noticias, especializada en política y sociedad.', N'https://twitter.com/SoledadLarghi', N'https://www.instagram.com/solelarghi/', N'img/Soledad-Larghi-Revista-GENTE-10.jpg.jpg', 2)
INSERT [dbo].[autores] ([autorid], [nombre], [biografia], [twitter], [instagram], [foto], [usuarioid]) VALUES (3, N'Ernesto Tenembaum', N'Analista político y periodista en Infobae.', N'https://twitter.com/ertenembaum', N'https://www.instagram.com/ernesto_tenembaum/', N'img/tenembaum.jpg', 3)
SET IDENTITY_INSERT [dbo].[autores] OFF
GO
SET IDENTITY_INSERT [dbo].[bitacora] ON 

INSERT [dbo].[bitacora] ([bitacoraid], [usuarioid], [fecha], [accion]) VALUES (1, 1, CAST(N'2024-06-01' AS Date), N'Inicio de sesión')
INSERT [dbo].[bitacora] ([bitacoraid], [usuarioid], [fecha], [accion]) VALUES (2, 2, CAST(N'2024-06-02' AS Date), N'Actualización de perfil')
INSERT [dbo].[bitacora] ([bitacoraid], [usuarioid], [fecha], [accion]) VALUES (3, 3, CAST(N'2024-06-03' AS Date), N'Publicación marcada como favorita')
SET IDENTITY_INSERT [dbo].[bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[categorias] ON 

INSERT [dbo].[categorias] ([categoriaid], [nombre]) VALUES (1, N'Política')
INSERT [dbo].[categorias] ([categoriaid], [nombre]) VALUES (2, N'Economía')
INSERT [dbo].[categorias] ([categoriaid], [nombre]) VALUES (3, N'Deportes')
SET IDENTITY_INSERT [dbo].[categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[estados] ON 

INSERT [dbo].[estados] ([estadoid], [nombre]) VALUES (1, N'activo')
INSERT [dbo].[estados] ([estadoid], [nombre]) VALUES (2, N'pausado')
INSERT [dbo].[estados] ([estadoid], [nombre]) VALUES (3, N'borrador')
SET IDENTITY_INSERT [dbo].[estados] OFF
GO
SET IDENTITY_INSERT [dbo].[favoritos] ON 

INSERT [dbo].[favoritos] ([favoritoid], [usuarioid], [publicacionid], [fechaagregado]) VALUES (1, 1, 1, CAST(N'2024-06-05' AS Date))
INSERT [dbo].[favoritos] ([favoritoid], [usuarioid], [publicacionid], [fechaagregado]) VALUES (2, 2, 2, CAST(N'2024-06-06' AS Date))
INSERT [dbo].[favoritos] ([favoritoid], [usuarioid], [publicacionid], [fechaagregado]) VALUES (3, 3, 3, CAST(N'2024-06-07' AS Date))
SET IDENTITY_INSERT [dbo].[favoritos] OFF
GO
SET IDENTITY_INSERT [dbo].[publicaciones] ON 

INSERT [dbo].[publicaciones] ([publicacionid], [titulo], [subtitulo], [contenido], [imagen], [fechapublicacion], [autorid], [categoriaid], [estadoid], [contador_total], [contador_semanal]) VALUES (1, N'Caso Chocolate: ordenaron la inhibición general de todo el patrimonio de los Albini', N'Investigación sobre el caso Albini', N'Detalles sobre el caso Chocolate y la intervención judicial.', N'img/chocolate.webp', CAST(N'2024-06-04' AS Date), 1, 1, 1, 1, 1)
INSERT [dbo].[publicaciones] ([publicacionid], [titulo], [subtitulo], [contenido], [imagen], [fechapublicacion], [autorid], [categoriaid], [estadoid], [contador_total], [contador_semanal]) VALUES (2, N'El contrato de Mbappé en el Real Madrid es impresionante', N'Mbappé en el Real Madrid', N'Un análisis del nuevo contrato de Mbappé con el club.', N'img/mbappe.webp', CAST(N'2024-06-04' AS Date), 3, 3, 1, 1, 1)
INSERT [dbo].[publicaciones] ([publicacionid], [titulo], [subtitulo], [contenido], [imagen], [fechapublicacion], [autorid], [categoriaid], [estadoid], [contador_total], [contador_semanal]) VALUES (3, N'Karina Milei manejó una sociedad en Miami que compró cuatro propiedades por unos US$2,7 millones', N'Investigación sobre Karina Milei', N'Un reportaje sobre las propiedades adquiridas por Karina Milei.', N'img/karina-milei.webp', CAST(N'2024-06-04' AS Date), 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[publicaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[reclamos] ON 

INSERT [dbo].[reclamos] ([reclamoid], [usuarioid], [fecha], [estado], [descripcion]) VALUES (1, 1, CAST(N'2024-06-05' AS Date), N'Pendiente', N'Problema con la visualización de la nota sobre política.')
INSERT [dbo].[reclamos] ([reclamoid], [usuarioid], [fecha], [estado], [descripcion]) VALUES (2, 2, CAST(N'2024-06-06' AS Date), N'Resuelto', N'Error en el contenido de la publicación sobre economía.')
INSERT [dbo].[reclamos] ([reclamoid], [usuarioid], [fecha], [estado], [descripcion]) VALUES (3, 3, CAST(N'2024-06-07' AS Date), N'En proceso', N'Solicito corrección de información en la nota de deportes.')
SET IDENTITY_INSERT [dbo].[reclamos] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([usuarioid], [nombre], [email], [contrasena], [fecharegistro], [admin], [blocked], [codigo], [retry]) VALUES (1, N'Hugo Alconada', N'hugo.alconada@gmail.com', N'huguito123', CAST(N'2024-01-15' AS Date), 1, 0, N'A', 0)
INSERT [dbo].[usuarios] ([usuarioid], [nombre], [email], [contrasena], [fecharegistro], [admin], [blocked], [codigo], [retry]) VALUES (2, N'Maria Gonzalez', N'maria.gonzalez@example.com', N'password456', CAST(N'2024-03-22' AS Date), 0, 0, N'A', 0)
INSERT [dbo].[usuarios] ([usuarioid], [nombre], [email], [contrasena], [fecharegistro], [admin], [blocked], [codigo], [retry]) VALUES (3, N'Carlos Martinez', N'carlos.martinez@example.com', N'password789', CAST(N'2024-05-10' AS Date), 0, 0, N'A', 0)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
ALTER TABLE [dbo].[publicaciones] ADD  DEFAULT ((0)) FOR [contador_total]
GO
ALTER TABLE [dbo].[publicaciones] ADD  DEFAULT ((0)) FOR [contador_semanal]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [admin]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [blocked]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [retry]
GO
ALTER TABLE [dbo].[autores]  WITH CHECK ADD  CONSTRAINT [FK_Autores_Usuarios] FOREIGN KEY([usuarioid])
REFERENCES [dbo].[usuarios] ([usuarioid])
GO
ALTER TABLE [dbo].[autores] CHECK CONSTRAINT [FK_Autores_Usuarios]
GO
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD FOREIGN KEY([usuarioid])
REFERENCES [dbo].[usuarios] ([usuarioid])
GO
ALTER TABLE [dbo].[favoritos]  WITH CHECK ADD FOREIGN KEY([publicacionid])
REFERENCES [dbo].[publicaciones] ([publicacionid])
GO
ALTER TABLE [dbo].[favoritos]  WITH CHECK ADD FOREIGN KEY([usuarioid])
REFERENCES [dbo].[usuarios] ([usuarioid])
GO
ALTER TABLE [dbo].[publicaciones]  WITH CHECK ADD FOREIGN KEY([autorid])
REFERENCES [dbo].[autores] ([autorid])
GO
ALTER TABLE [dbo].[publicaciones]  WITH CHECK ADD FOREIGN KEY([categoriaid])
REFERENCES [dbo].[categorias] ([categoriaid])
GO
ALTER TABLE [dbo].[publicaciones]  WITH CHECK ADD FOREIGN KEY([estadoid])
REFERENCES [dbo].[estados] ([estadoid])
GO
ALTER TABLE [dbo].[reclamos]  WITH CHECK ADD FOREIGN KEY([usuarioid])
REFERENCES [dbo].[usuarios] ([usuarioid])
GO
USE [master]
GO
